{erl_opts, [no_debug_info]}.
{deps, [
    {s4607, ".*", {git, "https://github.com/pentlandedge/s4607.git", {branch, "master"}}} ]}.

{escript_incl_apps,
 [display_4607]}.
{escript_main_app, display_4607}.
{escript_name, display_4607}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
